<div class="menu"> SEARCH PART EXPORT
    <div class="topic">
        <a href="searching.php">
            <div class="card-nav"> <i class="fa fa-circle"></i> Radiator</div>
        </a>
        <a href="search_part.php">
            <div class="card-nav"> <i class="fa fa-circle"></i> Sub-Part</div>
        </a>
    </div>
</div>
<div class="menu"> PRODUCTION RECORD
    <div class="topic">
        <div class="card-nav"> <i class="fa fa-circle"></i> RADIATOR CORE ASSEMBLY </div>
        <a href="core_assy.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Radiator core assembly #1 </div>
        </a>
    </div>
    <div class="topic">
        <div class="card-navsub"> <i class="fa fa-circle"></i> RADIATOR FLUX </div>
        <a href="flux_1.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Radiator flux #1 </div>
        </a>
        <a href="flux.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Radiator flux #4 </div>
        </a>
    </div>
    <div class="topic">
        <div class="card-nav"> <i class="fa fa-circle"></i> NB BRAZING </div>
        <a href="brazing_nb.php">
            <div class="card-navsub"> &nbsp; &nbsp;- NB Brazing</div>
        </a>
    </div>
    <div class="topic">
        <div class="card-nav"> <i class="fa fa-circle"></i> RADIATOR ASSEMBLY </div>
        <a href="final_assy_4.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Radiator assembly #4 </div>
        </a>
        <a href="final_assy_6.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Radiator assembly #6 </div>
        </a>
    </div>
    <!-- <div class="topic">
        <div class="card card-main"> RADIATOR INJECTION </div>
        <div class="card card-sub"> &nbsp; &nbsp;- Machine #9 </div>
    </div>
    <div class="topic">
        <div class="card card-main"> RADIATOR OIL SUB ASSY </div>
        <div class="card card-sub"> &nbsp; &nbsp;- Oil sub assy</div>
    </div> -->
    <div class="topic">
        <div class="card-nav"> <i class="fa fa-circle"></i> PACKING </div>
        <a href="packing.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Sub-Part Packing</div>
        </a>
    </div>
    <div class="topic">
        <div class="card-nav"> <i class="fa fa-circle"></i> SHIPPING (EXPORT) </div>
        <a href="stock.php">
            <div class="card-navsub"> &nbsp; &nbsp;- Store</div>
        </a>
    </div>
</div>
<div class="menu"> HELIUM LEAK TEST
    <div class="topic">
        <a href="pokayoke_core_export.php">
            <div class="card-navsub"> &nbsp; &nbsp;- POKAYOKE CORE EXPORT </div>
        </a>
        <a href="pokayoke_core_packing.php">
            <div class="card-navsub"> &nbsp; &nbsp;- POKAYOKE CORE PACKING</div>
        </a>
        <a href="pokayoke_core_leakrate.php">
            <div class="card-navsub"> &nbsp; &nbsp;- POKAYOKE CORE LEAKRATE</div>
        </a>
        <a href="pokayoke_core_ratio.php">
            <div class="card-navsub"> &nbsp; &nbsp;- POKAYOKE CORE RATIO</div>
        </a>
    </div>
</div>